<div class="container">
	<div class="row">
		<div class="span4">
			<h2 id="contact">Contact</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		</div>
		<div class="span8">
			<form action="{{ path('app_frontend_homepage') }}#contact" method="post" class="row">
				{% if app.session.hasFlash('notice') %}
					<div class="span8">
					    <div class="alert alert-{{app.session.flash('status')}}">
					        {{ app.session.flash('notice') }}
					    </div>
					</div>
				{% endif %}
			    {{ form_errors(form) }}

				<div class="span4 input name">
				    {{ form_label(form.name) }}
				    {{ form_widget(form.name) }}
				    {{ form_errors(form.name) }}
				</div>
				<div class="span4 input email">
				    {{ form_label(form.email) }}
				    {{ form_widget(form.email) }}
				    {{ form_errors(form.email) }}
				</div>
				<div class="span8 input message">
				    {{ form_label(form.message) }}
				    {{ form_widget(form.message) }}
				    {{ form_errors(form.message) }}
				</div>
		    	<input class="btn span2 pull-right" type="submit" value="Submit" />

				{{ form_rest(form) }}

			</form>
		</div>
	</div>
</div>