<div class="container">
    <div class="row">
        <div class="span4">
            <h2 id="contact">Contact</h2>
            <p>If you’d like to get in touch, ask a question, give me some feedback or even just say hello, I’d love to hear from you!</p>
            <p>You can also download my <a href="{{ asset('/bundles/appfrontend/pdf/tiziano_rullo_cv.pdf') }}" target="_blank">resume</a>, if you like to!</p>
        </div>
        <div class="span8">
            <form action="{{ path('app_frontend_homepage') }}#contact" method="post" class="row">
                {% if app.session.hasFlash('notice') %}
                    <div class="span8">
                        <div class="alert alert-{{app.session.flash('status')}}">
                            {{ app.session.flash('notice') }}
                        </div>
                    </div>
                {% endif %}
                {{ form_errors(form) }}

                <div class="span4 input name">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="span4 input email">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="span8 input message">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
                </div>
                <input class="btn span2 pull-right" type="submit" value="Submit" />

                {{ form_rest(form) }}

            </form>
        </div>
    </div>
</div>