{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets filter='less,cssrewrite,?yui_css' output='css/app.css' 
        '@AppFrontendBundle/Resources/public/css/main.less' 
        '@AppFrontendBundle/Resources/public/css/fancybox.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% set sites = [
        'home',
        'about',
        'skills',
        'toolbelt',
        'portfolio',
        'contact'
    ] %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <span class="brand"><a href="#home">TR</a></span>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav" role="navigation">
                        {% for nav in sites %}
                            <li {% if loop.index == 1 %}class="active"{% endif %}><a href="#{{ nav }}">{{ nav|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% for site in sites %}
        <section id="{{site}}" role="{% if  loop.index == 1 %}main{% else %}complementary{% endif %}" >
            {% set  twig =  'AppFrontendBundle:Sites:'~site~'.html.twig'  %}
            {% include twig %}
        </section>
        {% if  loop.index > 1 %}<hr />{% endif %}
    {% endfor %}
    <footer class="container">
        <p class="pull-left">&copy; Tiziano Rullo 2013</p>
        <p class="pull-right"><a class="btn btn-small" href="https://github.com/ultimo/tr" target="_blank"><i class="icon-github"></i> GitHub</a></p>
    </footer>

{% endblock %}
{% block javascripts %}
    {% javascripts output='js/app.js' filter='?yui_js' 
        '@AppFrontendBundle/Resources/public/js/smooth-scroll.js'
        '@AppFrontendBundle/Resources/public/js/waypoints.js'
        '@AppFrontendBundle/Resources/public/js/fancybox.js'
        '@AppFrontendBundle/Resources/public/js/main.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts %}
{% endblock %}